@font-face {
  font-family: 'rouble';
  src: url('rouble.otf') format('opentype');
}

body {
  min-width: 320px;
}

.hall {
  perspective: 1000px;
}

.screen {
  height: 7rem;
  transform: rotateX(-20deg);
  box-shadow: 0 0 3rem rgba(255, 255, 255, 1);
}

.seat {
  width: 1.5rem;
  height: 1.5rem;
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
  font-size: 10px;
  flex: 0 1 1.5rem;
}

.seat:nth-of-type(2) {
  margin-right: 1rem !important;
}

.seat:nth-last-of-type(2) {
  margin-left: 1rem !important;
}

picture[data-price]::after {
  font-family: 'rouble';
  content: attr(data-price) 'w';
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 0 0 0.5em black;
  line-height: 1;
}
